*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-chat--color : #0084ff;
}
html{
    font-family: 'Courier New', Courier, monospace;
}

.smooth:hover{
    background-color: rgba(0, 0, 0,0.09);
    border-radius: 8px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.messages-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.messages-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#content{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50px 400px auto ;
    background-color: aliceblue;
    position:fixed ;
    overflow: auto;
}

/* Mobile */
@media screen and (max-width: 767px) {
    #content .item,
    #content .chat,
    #content .chat-op {
        display: none;
    }
    #content{
        display: block;
    }
    #content .messages {
        width: 100%;
    }
    #content .messages .messages__header{
        position: fixed;
        z-index : 1;
        width: 100%;
        background-color: aliceblue;
        left : 0;
        top : 0;
        padding : 16px;
    }
    #content .messages .messages-list{
        margin-top : 20%;
        width: 100%;
        overflow: hidden;
    }
    
}

/* Ipad */
@media screen and (min-width: 768px) and (max-width : 1140px) {
    #content .item,
    #content .messages
    {
        display: block;
        width: auto;
    }
    #content .item,#content .chat {
        display : flex !important;
    }
    .chat-op{
        display: none;
    }
   
}

/* Desktop */
@media screen and (min-width : 1141px) {
    #content .item,
    #content .messages
    {
        display: block;
        width: auto;
    }
    #content .item,#content .chat {
        display : flex !important;
    }
}
 
  

.item, .messages{
    border-right: 1px solid rgba(198, 192, 192, 0.5); 
    max-height: 100vh;
}
.item{
    padding: 10px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Avatar Menu Left*/
.item a img{
    width: 80%;
    height: auto;
    border-radius: 50%;
}
.itemmenu {
    align-items: center;
    height: min-content;
    margin: 0;
    padding: 0;
    border-bottom:1px solid rgba(198, 192, 192, 0.5) ;
}
  
.itemmenu li {
    list-style: none;
    padding: 10px;
    margin: 0 ;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.3s ease-in-out;
}
.itemmenu li > a> i:first-child{
    color: rgb(0, 0, 0);
}

.itemmenu li:last-child{
    margin-bottom: 10px;
}
.itemmenu li:hover{
    background-color: rgba(198, 192, 192, 0.5);
}
  
.messages{
    padding: 10px 15px;
}
.messages__header{
    max-height: 20%;
}

.messages .messages-heading{
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: space-between;
    align-items: center;
}
.messages .messages-heading ul{
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}
.messages .messages-heading span{
    font-size: 25px;
}
.messages .messages-heading li{
    list-style: none;
    padding: 5px 10px;
    color: blue;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 5px;
    background-color:  rgba(198, 192, 192, 0.5);
    transition: 0.5s ease-out;

}
.messages .messages-heading li:hover{
    background-color:  rgba(175, 171, 171, 0.5);
}



.messages .messages-search .search-ip{
    width: 100%;
    margin-top: 10px;
    height: 35px;
    border: none ;
    outline: none;
    background-color: rgba(198, 192, 192, 0.5);
    border-radius: 20px;
    padding: 0 20px;
}
.messages .messages-search .search-ip::placeholder{
    color: red;

}

.messages-list{
    padding : 8px 0;
    overflow-y: scroll;
    max-height : 90%;
}

.messages-item{
    height : 80px;
    display : flex;
    align-items: center;
    cursor: pointer;
    padding : 8px;
}

.messages-item:hover,
.messages-item.selected{
    background-color: rgba(0, 0, 0,0.09);
    border-radius: 8px;
}

.messages-item__avatar img{
    width: 50px;
    height : 50px;
    border-radius: 50%;
}

.messages-item__content{
    padding-left : 12px;
}

.messages-item__content p{
    margin : 0;
    font-weight: 600;
}

.messages-item__content div{
    opacity: 0.6;
}

.chat{
    width: 100%;
    display: grid;
    grid-template-columns: auto 400px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat-op{
    background-color: aqua;
    display: none;
}
.chat .chatheader{
    width: 100%;
    height: min-content;
    padding: 5px 10px;
    border: 1px solid rgba(198, 192, 192, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}


.chat .chatheader .chatheader-title{
    width: max-content(300px);
    display: flex;
    padding : 4px 16px 4px 8px;
    justify-content: space-between;
    align-items: center;
}

.chat .chatheader-title:hover{
    background-color: rgba(0, 0, 0,0.09);
    border-radius: 8px;
}

.chat .chatheader .chatheader-avt img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat .chatheader .chatheader-name{
    margin-left : 12px;
    cursor: pointer;
}

.chat .chatheader .chatheader-name span:first-child{
    font-weight: 600;
}

.chatheader-menuitem{
    margin: 0;
    display: flex;
    padding: 2px;
    width: max-content(400px);
    justify-content: space-between;
    align-items: center;
}
.chatheader-menuitem li{
    list-style: none;
    margin-right: 20px;
}
.chatheader-menuitem i{
    font-size: 20px;
    color : var(--primary-chat--color);
}
.chatheader-menuitem li button{
    border: none;
    color: blue;
    font-size: 20px;
}
#chat-op-btn{
    background-color : transparent;
}

.chatfooter{
    display : flex;
    justify-content : space-between;
    padding : 16px;
    align-items: center;
}

.chatcontent{
    display : flex;
    flex-direction: column;
    justify-content : flex-end;
    align-items: end;
    flex : 1;
}

.chatcontent p{
    background-color: var(--primary-chat--color);
    padding : 8px 16px;
    color : #fff;
}

.chatcontent > div{
    display : flex;
    width: 100%;
    align-items: center;
    margin : 8px 0;
}

.chatcontent .receive{
    justify-content: flex-start;
}

.chatcontent .send img,
.chatcontent .receive img{
    border-radius: 50%;
    margin : 0 8px;
}

.chatcontent .receive img{
    width: 28px;
    height: 28px;
}

.chatcontent .receive p{
    border-radius: 5px 20px 20px 5px;
    margin : 0;
}

.chatcontent .send{
    justify-content: flex-end;
}

.chatcontent .send p{
    border-radius: 20px 5px 5px 20px;
    margin : 0;
}

.chatcontent .send i{
    color : var(--primary-chat--color);
    margin : 0 8px;
    font-size: 16px;
}

.chatcontent .send img{
    --size : 18px;
    width: var(--size);
    height: var(--size);
}

.chatfooter i{
    font-size : 20px;
    color : var(--primary-chat--color);
    cursor: pointer;
    padding : 10px;
    border-radius: 50%;
}

.chatfooter .input{
    flex : 1;
    padding : 0 8px;
}

.chatfooter input{
    width: 100%;
    padding : 4px 10px;
    outline : none;
    color: #1c1e21;
    border-radius : 20px;
    border : 1px solid #ccc;
}
